.clock {
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin: 3px;
}

.clock .clock-box {
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
    padding: 7px;
    width: 100%;
    height: 90px;
    margin-top: -45px;
    position: relative;
    top: 50%;
}

.clock .clock-field {
    border-radius: 5px;
    background-color: #424242;
    color: #fff;
    display: inline-block;
    position: relative;
    width: 23%;
    height: 100%;
    text-align: center;
    padding-top: 12px;
    margin-left: 2.5%;
}

.clock .clock-field:first-child {
    margin-left: 0;
}

.clock .clock-field:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #383838;
}

.clock .clock-field-value {
    font-size: 54px;
    position: relative;
}

.clock .clock-field-label {
    border-radius: 4px;
    background-color: #424242;
    color: #fff;
    font-size: 9px;
    top: 7px;
    left: 7px;
    position: absolute;
}
