@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.clock-box {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans';
}

.clock-field {
  height: 100%;
  min-height: 96px;
  width: 25%;
  border-radius: 5px;
  background-color: #424242;
  color: #fff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clock-field-value {
  font-size: 55px;
  height: 100%;
  text-align: center;
}

.clock-field-label {
  font-size: 12px;
  padding-left: 10%;
}